body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header-top-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: #F9FAF8; */
}

.header-logo img {
    width: 128px;
    height: auto;
}

.header-top-links {
    display: flex;
    /* margin-left: auto; */
    color: #e5e7eb;
    font-size: 18px;
}

.header-top-links a {
    padding: 0px 5px;
    text-decoration: none;
}

img {
    height: auto;
    width: 500px;
}

/* https://stackoverflow.com/questions/489340/vertically-align-text-next-to-an-image */
.header-description-and-image {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    /* background-color: #1f2937; */
}

.website-description {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.website-description button {
    display: block;
    text-align: center;
    width: 80px;
    background-color: #3882f6;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 8px;
    border-radius: 8px;

}

.header, .header-description-and-image {
    background-color: #1f2937;
    /* color: white; */
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text, .header-links{
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.random-information {
    display: flex;
    flex-direction: column;
}

.random-information-title {
    display: flex;
    justify-content: center;
}

.random-information-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.random-information-card {
    padding: 5px;
}
/* .image {
    display: inline;
}

.website-description {
    display: inline;
    white-space: nowrap;
} */
